.container {
    max-width: 1200px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/*==============     строки */
.row--justify-center {
    justify-content: flex-end;
}

.row--space-between {
    justify-content: space-between;
}

.row--align-center {
    align-items: center;
}


.row--align-bottom {
    align-items: end;
}

/*==============  колонки */
.col {
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
}

.col--size-auto {
    flex: 1;
}

.col--size-1 {
    width: 8.3%;
}

.col--size-2 {
    width: 16.6%;
}

.col--size-3 {
    width: 25%;
}

.col--size-4 {
    width: 33.3%;
}

.col--size-5 {
    width: 41.6%;
}

.col--size-6 {
    width: 50%;
}

.col--size-7 {
    width: 58.3%;
}

.col--size-8 {
    width: 66.6%;
}

.col--size-9 {
    width: 75%;
}

.col--size-10 {
    width: 75%;
}

.col--size-12 {
    width: 100%;
}

.col--offset-2 {
    margin-left: 16.6%;
    width: 16.6%;
}





.block {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(166, 166, 166);
    padding: 10px;
}

.block--size-1 {
    height: 200px;
}