body {
    font-family: 'Nunito', sans-serif;
    color: #384047;
}

.form {
    max-width: 530px;
    margin: 10px auto;
    padding: 10px 20px;
    background: #f4f7f8;
    border-radius: 8px;
}

input {
    background: rgba(255,255,255,0.1);
    border: none;
    font-size: 16px;
    margin: 0;
    padding: 15px;
    width: 500px;
    background-color: #e8eeef;
    color: #8a97a0;
    margin-bottom: 15px;
}

button {
    padding: 19px 39px 18px 39px;
    color: #FFF;
    background-color: #4bc970;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    border-radius: 5px;
    width: 100%;
    border: 1px solid #3ac162;
    border-width: 1px 1px 3px;
    box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
    margin-bottom: 10px;
}

.form__title {
    margin: 15px 0 30px 0;
    text-align: center;
    font-size: 30px;
}

.form__input-checkbox {
    margin: 0 4px 8px 0;
    width: 30px;
    margin-bottom: 15px;
}

.text {
    max-width: 530px;
    margin: 10px auto;
    padding: 10px 20px;
    background: #f4f7f8;
    border-radius: 8px;
    height: 50px;
}