.button {
    border: 0px;
    font-size: 16px;
    border-radius: 5px;
    color: #ffffff;
}

.button--theme-blue { 
    background-color: #005bff;
}


.button--theme-light-blue {
    background-color: #cfdefb;
}

.button--theme-red {
    background-color: rgb(255, 0, 0);
}

.button--size-small {
    padding: 2px 6px;
}

.button--size-medium {
    padding: 6px 10px;
}

.button--size-large {
    padding: 12px 20px;
}

.button--disabled {
    background-color: #ff6868;
}


.price--theme-red {
    color: red;
}

.price--theme-grey {
    color: rgb(105, 105, 105);
}

.price--theme-green {
    color: rgb(54, 255, 67);
}

.price--size-small {
    font-size: 15px;
}

.price--size-large {
    font-size: 30px;
}

.card__image {
    width: 350px;
    height: 200px;
}